.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: $white;
  background:repeating-linear-gradient(
                  45deg,
                  $secondary,
                  $secondary 10px,
                  $auxiliary 10px,
                  $auxiliary 20px);
}

.copyright {
  background-color: darken($secondary, 10%);
}
